# MCP Server Configuration
## Port for the MCP server (default: 3000)
PORT=3000
## Your MCP Server URL
SERVER_URL=http://localhost:3000

# Descope Configuration
## Your Descope project ID
DESCOPE_PROJECT_ID=

## Your Descope Base URL (optional, defaults to https://api.descope.com)
DESCOPE_BASE_URL=https://api.descope.com

## Your MCP server issuer URL from the Descope Console (MCP server config)
DESCOPE_MCP_SERVER_ISSUER=
